.backdrop {
  background-color: rgba(0, 0, 0, 0.597);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.create-form {
  margin-top: 25vh;
  background-color: rgb(115, 186, 67);
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  color: white;
  width: 40%;
}

.create-form-title {
  font-size: 1.2rem;
}

.form-row {
  display: flex;
  justify-content: left;
  padding-left: 100px;
  gap: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 0.75rem;        /* smaller text */
  text-transform: uppercase; /* make it all caps */
  letter-spacing: 0.05em;    /* subtle spacing */
  margin-bottom: 4px;        /* small gap above input */
}

.form-input {
  padding: 10px 12px;
  border: 1px solid #cbd5e1;
  color: rgb(255, 255, 255);
  background-color:rgba(0, 0, 0, 0.269);
  border-radius: 6px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

.form-input:focus {
  outline: none; /* remove the default blue */
  border-color: #2563eb; /* custom border */
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.15); /* subtle glow */
}

.ingredients {
  padding-left: 100px;
}

